<%- include("layouts/Header"); -%>
<link rel="stylesheet" href="/css/my-reservations.css" />
    <link rel="stylesheet" href="/css/admin.css" />
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <title>Reservations</title>
  </head>

  <body>
    <%- include ("layouts/Sidebar-admin"); -%>
    <div id="page-content-wrapper">
    <div class="menusReserv">

        <ul>
        <li style="margin-left:1%;padding-left:0;"><a id="allBtn" href="#" >All</a></li>
        <li><a id="specificRoomsBtn" href="#" >Specific rooms</a></li>
        <div style="display:inline; padding-left:20px">
            <form id="roomsInput" action="/search-reserv-by-room" method="POST">
            <input name="roomNumber"  type="text">
            <button><i id="searchBtn" class="fas fa-search" ></i> </button></i>
            </form> </div>
        <table style="border-spacing: 10px;">
            <form>  
                <tr>
                    <td><input type="text" name="rangeDate" id="rangeDate" placeholder="Select Date Range" data-input></td>
                    <!-- <td id="date1" style="border-radius:5px 5px 0 0;">
                        <input type="date" name="beginReserv" id="dC1" style="background-color: #cfdaeb;box-shadow: 1px 1px 5px #2a59dc;" placeholder="dd-mm-yyyy" required>
                        <i class="fas fa-calendar-alt"></i>
                    </td>
                    <td id="date1" style="padding-left:20px;border-radius:5px 5px 0 0;">
                        <input type="date" name="endReserv" id="dC1" style="background-color: #cfdaeb;box-shadow: 1px 1px 5px #2a59dc;" placeholder="dd-mm-yyyy" required>
                        <i class="fas fa-calendar-alt"></i>
                    </td> -->
                </tr>
            </form>
        </table>
      </ul>

      </div>

      <div class="container room"> 
          
                <%  reservations.forEach(reservation=> { %>
                  <div class="container room">

                    <div class="row">
                      <div class="col-2 room-nr"><span>
                          <%=reservation.roomNr %>
                        </span></div>
                      <div class="col-10 room-info">

                        <div class="container" >
                          <div class="row">
                            <div class="col-8 info">
                              <div>
                                <h4>
                                  <%=reservation.roomType %>
                                </h4>
                              </div>
                              <div class="dates">
                                <div class="row">
                                  <div class="col" id="start-date"> <i class="fal fa-calendar-alt"></i>
                                    <p> <%=reservation.startDate.substring(0, 10); %></p>
                                  </div>
                                  <div class="col" id="end-date">
                                    <i class="fal fa-calendar-alt"></i>
                                     <p><%=reservation.endDate.substring(0, 10); %></p>
                                  </div>
                                </div>
                              </div>
                              <div class="nr-persons"> <i class="fal fa-user"></i>
                                <%=reservation.nrPersons %>
                              </div>

                            </div>
                            <div class="col-4 actions">
                              <div class="row">
                                <% btnIndex= "checkInModalBtn"+ i %>
                                <button type="button"  class="col" status=<%=reservation.status %> id=<%=btnIndex %> data-bs-toggle="modal" data-bs-target="#checkInModal">Check
                                  In</button>

                                <!-- Modal for check in button -->
                                <div class="modal fade"  id="checkInModal" tabindex="-1"
                                  aria-labelledby="checkInModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        
                                        <h5 class="modal-title"  >Check in?</h5>
                                      </div>
                                      <div class="modal-body">
                                        Ready?
                                      </div>
                                      <div class="modal-footer">

                                        <button  id="check-in-btn" type="button" class="btn close" data-bs-dismiss="modal">Cancel</button>
                                        <form action="/check-in" class="btn" method="POST">
                                          <button type="button">Confirm</button>
                                        </form>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <% btnIndex= "checkOutModalBtn"+ i %>
                                <button type="button" status=<%=reservation.status %>   id=<%=btnIndex %> class="col" data-bs-toggle="modal"
                                  data-bs-target="#checkOutModal">Check  Out</button>
                                <!-- Modal for check Out button -->
                                <div class="modal fade" id="checkOutModal" tabindex="-1"
                                  aria-labelledby="checkInModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                  
                                        <h5 class="modal-title" id="checkOutModalLabel">Check Out?</h5>
                                      </div>
                                      <div class="modal-body">
                                        This action is final and you will not be able to recover any data
                                      </div>
                                      <div class="modal-footer">

                                        <button type="button" class="btn close" data-bs-dismiss="modal">Cancel</button>
                                        <form action="/check-out" class="btn" method="POST">
                                          <button type="button">Confirm</button>
                                        </form>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <% btnIndex= "cancelModalBtn"+ i++ %>
                                <button type="button" status=<%=reservation.status %>   id=<%=btnIndex %> class="col" data-bs-toggle="modal"
                                  data-bs-target="#cancelModal">Cancel
                                  the reservation </button>
                                <!-- Modal for cancel  button -->
                                <div class="modal fade" id="cancelModal" tabindex="-1"
                                  aria-labelledby="checkInModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title"  id="cancelLabel">Cancel your reservation?</h5>
                                      </div>
                                      <div class="modal-body">
                                        This action is final and you will not be able to recover any data
                                      </div>
                                      <div class="modal-footer">

                                        <button type="button" class="btn close" data-bs-dismiss="modal">Cancel</button>
                                        <form action="/cancel-reservation" class="btn" method="POST">
                                          <button type="button">Confirm</button>
                                        </form>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
      </div>
       <% });%>
    </div>

    <!--<script type="text/javascript">
        function beginDate() {
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
    </script>-->

    <!-- <script>
      flatpickr("#dC1", {
        minDate: "today"
      });
    </script> -->
    <script>

    
$("#basicDate").flatpickr({
    enableTime: true,
    dateFormat: "F, d Y H:i"
});
$("#rangeDate").flatpickr({
    mode: 'range',
    dateFormat: "Y-m-d"
});
  </script>
  <script>
      $("#specificRoomsBtn").click(function(){
          $("#roomsInput").css("display", "inline");

      })
      $("#allBtn").click(function(){
          $("#roomsInput").css("display", "none");

      })
  </script>

<%- include("layouts/Footer"); -%>